<!DOCTYPE html>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>
{% from "_formhelpers.html" import render_field %}

<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='tablefilter.js') }}"></script>
<html lang="en">
<style>html {zoom:110%;}
	th.headerSortUp {
    background-image: url({{url_for('static', filename='small_asc.gif')}});
    background-color: #3399FF;
}
th.headerSortDown {
    background-image:url({{url_for('static', filename='small_desc.gif')}});
    background-color: #3399FF;
}
th.header {
		background-image:url( {{url_for('static', filename='sort1.png')}});
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>{{userid}}</title>
	    <a href="{{ url_for('.quar')}}" class="w3-button w3-padding-large w3-purple" type="submit" name="home" value="home" ><b>HOME</b></a>
	    <a href="{{ url_for('.week')}}" class="w3-button w3-padding-large w3-purple" type="submit" name="thisweek" value="thisweek" ><b>今週</b></a>
	    <a href="{{ url_for('.home1')}}" class="w3-button w3-padding-large w3-purple" type="submit" name="thisq" value="thisq" ><b>全部</b></a>
	<right>
	    <a href="{{ url_for('.logout')}}" class="w3-button w3-padding-large w3-purple" type="submit" name="logout" value="logout" ><b>ログアウト</b></a></right>
		<form method="post" name="form" action="{{ url_for('.datesel')}}">
                                                           <br>
                  <dl  class="contact-us pattern-bg">

                              <div class="col-sm-6">
                                 <div class="form-group">
                                  {{ render_field(form.startdate)}}
                                 </div>
							  </div>
					  			<div class="col-sm-6">
                                 <div class="form-group">
                                  {{ render_field(form.enddate)}}
                                 </div>
							  </div></dl>
							<button  type="submit" name="datesearch" value="datesearch" >
                                                                  検索</button>

					</form>

                                <div class="tab-content">
					                <div class="tab-pane" id="home">

											<H2 style="color:#F06143"><p> <b> <span class=" ">顧問</span></b></p></H2>
											<table id="t1" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>

													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">電話数(予定)</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">つな数(予定)</th>
													<th style="color:#157F83">アポ</th>
													<th style="color:#157F83">アポ(予定)</th>
													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">初回営業(予定)</th>
													<th style="color:#157F83">再訪設定</th>
													<th style="color:#157F83">再訪設定(予定)</th>
													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談設定(予定)</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">面談実施(予定)</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">受注(予定)</th>
													<th style="color:#157F83">ポイント</th>

													<th style="color:#157F83">ポイント(予定)</th>

													<th style="color:#157F83">編集</th>
											</thead>
                                            {% for row in week1 %}
											<tr >
											{% for d in row %}
												<td>{{ d }}</td>

												{% endfor %}
										  {% for d in row  %}
													{% if loop.index0 < 1 %}

												<td><button name="button" type="button" class="btn btn-primary a-btn-slide-text">
                                                                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></b>
                                                                                        <span><strong>編集</strong></span></b></button></td>
														{% endif %}

										  {% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t2" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week2 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t3" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week3 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t4" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week4 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t5" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week5 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t6" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week6 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t7" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week7 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t8" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week8 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t9" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week9 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                        											<table id="t10" class="tablesorter">

												<thead>
													<th style="color:#157F83">ID</th>
													<th style="color:#157F83">部署</th>
													<th style="color:#157F83">Q</th>
													<th style="color:#157F83">営業日</th>
													<th style="color:#157F83">ユーザーID</th>
													<th style="color:#157F83">名前</th>

													<th style="color:#157F83">Label</th>
													<th style="color:#157F83">日付</th>
													<th style="color:#157F83">リストタイプ</th>
													<th style="color:#157F83">電話数</th>
													<th style="color:#157F83">つな数</th>
													<th style="color:#157F83">アポ</th>

													<th style="color:#157F83">初回営業</th>
													<th style="color:#157F83">再訪設定</th>

													<th style="color:#157F83">面談設定</th>
													<th style="color:#157F83">面談実施</th>
													<th style="color:#157F83">受注</th>
													<th style="color:#157F83">ポイント</th>
											</thead>
										  {% for row in week10 %}
											<tr>
											{% for d in row %}
												<td >{{ d }}</td>
												{% endfor %}
											</tr>
										  {% endfor %}
										  </table>
                                    </div></div>
</head>
<body>

</body>
										<script>$(function() {
															$("tr").each(function() {
																$(this).find("td:eq(10), td:eq(12), td:eq(14), td:eq(16), td:eq(18), td:eq(20), td:eq(22), td:eq(24), td:eq(26), td:eq(2), td:eq(30)").attr("contentEditable", true);
															});
														});</script>
<script>var filtersConfig = {
																										  // instruct TableFilter location to import ressources from
																										  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
																										  col_7: 'none',col_0:"none",col_1:"none",col_2: "none",
																										  col_3: "none",col_4: "none",col_5: "none",col_6: "none",
																										  col_8: "select",	  col_9: 'none',col_10:"none",col_11:"none",col_12: "none",
																										  col_13: "none",col_14: "none",col_15: "none",col_16: "none",col_17:"none",col_18: 'none',col_19:"none",col_21:"none",col_22: "none",
																										  col_23: "none",col_24: "none",col_25: "none",col_26: "none",col_27:"none",
																										  col_20: "none",

																										  display_all_text: " [ Show all ] ",
																										  sort_select:true,
																										  alternate_rows: true,
																								//		  rows_counter: true,
																								//		  btn_reset: true,
																								//		  loader: true,
																								//		  mark_active_columns: true,
																								//	      highlight_keywords: true,
																										  no_results_message: true,
																									//	  col_types: [
																									//		'number', 'string', 'number','number','string','string','string','date','string','number', 'number', 'number','number','number','number','number','number','number',],

																									//	  col_widths: ['45px','60px','65px','60px','90px','72px','80px','100px','100px','60px','60px','60px','60px','60px','60px','60px','60px','60px'],

																											   extensions: [{
																												name: 'sort',
																												images_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/style/themes/'
																											  }]
																											};
																										var tf3 = new TableFilter('t1',filtersConfig);
																										tf3.init();

																										var tf3 = new TableFilter('t2',filtersConfig);
																										tf3.init();
																										var tf3 = new TableFilter('t3',filtersConfig);
																										tf3.init();

																										var tf3 = new TableFilter('t4',filtersConfig);
																										tf3.init();
																										var tf3 = new TableFilter('t5',filtersConfig);
																										tf3.init();

																										var tf3 = new TableFilter('t6',filtersConfig);
																										tf3.init();
																										var tf3 = new TableFilter('t7',filtersConfig);
																										tf3.init();

																										var tf3 = new TableFilter('t8',filtersConfig);
																										tf3.init();
																										var tf3 = new TableFilter('t9',filtersConfig);
																										tf3.init();

																										var tf3 = new TableFilter('t10',filtersConfig);
																										tf3.init();

</script>
<script  type="text/javascript">
	$(function() {
	$('button').click(function(e) {

	  var name = ($(e.target.closest('tr')).text());
	  name = name.replace(/[\r\n]/g, " ");
	  var obj ={};
	  obj[name]= 1;
	 $.ajax({
		type: "POST",
			url: "{{ url_for('get_post_json') }}",
		contentType: "application/json",
		data: JSON.stringify({hello: name }),
		dataType: "json",
		success: function(response) {
			console.log(response);
		},
		error: function(err) {
			console.log(err);
		}
	});
	});
	});

	</script>
<script>
$("#t1").tablesorter({
     headers: {
         17: { sorter: 'digit' } // column number, type
     }
 });
    </script>
}
</html>